$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$third-color: #BABD8D;
$text-color: #7C6A0A;
$fourth-color: #FA9500;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5rem;

@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    padding: 1.5rem;
    @include flexCenter(row, space-between, center);
    color: $text-color;
    padding-top: 70px;
    font-weight: 500;

    p {
        font-size: $paragraph-size;
        padding-left: 30px;
    }

    .icon__navbar {
        display: flex;
        gap: 15px;
        @include buttonStyle;
    }
}

article {
    width: auto;
    color: $text-color;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 70px;
    @include flexCenter(row, space-between, center);

    .info__main {
        @include flexCenter(column, space-evenly, flex-start);
        padding-top: 5rem;
        gap: 25px;
    }

    h1 {
        font-size: 2.9em;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 1.5rem;
    }

    @include buttonStyle;

    button {
        width: 12vw;
        padding: 20px;
        background: $fourth-color;
        border-radius: 1.5rem;
        font-size: 1rem;
        color: $primary-color;
        transition: all 300ms ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    img {
        width: 25vw;
        border-radius: 19px;
    }
}

section {
    width: auto;
    height: auto;
    padding: 55px;

    h2 {
        color: $text-color;
        font-size: 2em;
    }

    .healt__care--main {
        padding-bottom: 60px;

        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }

        .section__main--card {
            width: auto;
            height: auto;
            flex-wrap: wrap;
            @include flexCenter(row, space-evenly, center);
            gap: 100px;
            row-gap: 80px;

        }

        .product__card {
            width: 16vw;
            height: 45vh;
            background-color: $secondary-color;
            color: $text-color;
            padding: 20px;
            border-radius: 8px;

            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;

                svg {
                    width: 28px;
                    height: 28px;
                    stroke-width: 2;
                }
            }

            .product__img {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 14vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }

    }

    .forniture__main {
        @extend .healt__care--main;

        .product__card {
            background-color: $third-color;

            h3,
            p {
                color: $primary-color;
            }
        }
    }
}

.about__us {
    padding-bottom: 60px;

    h2 {
        font-weight: bold;
        padding-bottom: 60px;
    }

    .mission__about-us {
        @include flexCenter(row, space-evenly, center);

        .earth__about {
            $text-color: #e86424;
            width: 30vw;
            display: flex;
            gap: 40px;
            color: $text-color;

            img {
                object-fit: contain;
            }

            p {
                text-align: center;
                font-size: $paragraph-size;
            }
        }
    }

    .innovation__about {
        @extend .earth__about
    }
}

.gallery__main {
    h2 {
        font-weight: bold;
        padding-bottom: 60px;
    }

    .gallery__images {
        @include flexCenter(row, space-evenly, center);

        img {
            width: 20vw;
            height: 40vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 16px;
            transition: all 300ms ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}


.location__main {
    color: $text-color;
    h2 {
        padding-bottom: 60px;
        padding-top: 40px
    }
    .map__location{
        @include flexCenter(row, center, center);
        padding-bottom: 50px;  
    }
    h3 {
        text-align: center;
        font-size: 2.5em;
    }
    p {
        text-align: center;
        font-size: $paragraph-size;
    }
}

footer {
    background-color: $fourth-color;
    width: 100%;
    height: auto;
    padding: 40px;
    color: white;
    .social__footer {
        gap: 40px;
        padding-bottom: 40px;
        @include flexCenter(row, center, center)

    }
}