$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$third-color: #BABD8D;
$text-color: #7C6A0A;
$fourth-color: #FA9500;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5rem;

body {
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    color: $text-color;
    padding-top: 70px;
    font-weight: 500;

    p {
        font-size: $paragraph-size;
        padding-left: 30px;
    }

    .icon__navbar {
        display: flex;
        gap: 15px;

        button {
            background: none;
            border-style: none;
        }
    }
}

article {
    width: auto;
    color: $text-color;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;

    .info__main {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        gap: 25px;
    }

    h1 {
        font-size: 2.9em;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 1.5rem;
    }

    button {
        width: 12vw;
        padding: 20px;
        background: $fourth-color;
        border-style: none;
        border-radius: 1.5rem;
        font-size: 1rem;
        color: $text-color;
    }

    img {
        width: 25vw;
        border-radius: 19px;
    }
}

section {
    width: auto;
    height: auto;
    padding: 55px;

    h2 {
        color: $text-color;
        font-size: 2em;
    }

    .healt__care--main {
        padding-bottom: 60px;
        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }

        .section__main--card {
                display: flex;
                width: auto;
                height: auto;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                gap: 100px;
                row-gap: 80px;
            .product__card {
                width: 16vw;
                height: 45vh;
                background-color: $secondary-color;
                color: $text-color;
                padding: 20px;
                border-radius: 8px;
                .icon {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 12px;
                    svg {
                        width: 28px;
                        height: 28px;
                        stroke-width: 2;
                    }
                }
                .product__img {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 14vw;
                        height: 30vh;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $fourth-color;
    width: 100%;
    height: 250px;
}